[Unit]
Description=TeamCity Build Agent
After=network.target

[Service]
Type=forking
User={{teamcity_user}}
PIDFile={{agent_install_folder}}/logs/buildAgent.pid
ExecStart={{agent_install_folder}}/bin/agent.sh start
ExecStop={{agent_install_folder}}/bin/agent.sh stop

[Install]
WantedBy=multi-user.target